html{
    font-size: 60.32%;
}
body{
    background-image: url(img/rome.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 1560px;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.main__wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.cipher{
    text-align: center;
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
}
.cipher__text{
    font-size: 3.4rem;
    margin-bottom: 5rem;
}
.cipher__img>img{
    width: 100%;
    height: 30rem;
}
.cipher__img{
    margin-bottom: 2rem;
}
input{
    display: block;
    font-size: 3rem;
    border: none;
    border-bottom: 2px solid rgb(190, 98, 12);
}
input:not(:last-child){
    margin-bottom: 2rem;
}
button{
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 20px;
}
.cipher__desc{
    margin-bottom: 5rem;
}
.chipher__btn{
    display: flex;
    justify-content: space-between;
}
.chipher__btn-encrypt{
    background-color: rgb(26, 189, 26);
    transition: .3s;
}
.chipher__btn-remove{
    background-color: rgb(255, 67, 67);
    transition: .3s;
}
.chipher__btn-decrypt{
    background-color: rgb(153, 107, 21);
}
.chipher__btn-encrypt:hover{
    cursor: pointer;
    background-color: rgb(3, 78, 3);
}
.chipher__btn-remove:hover{
    cursor: pointer;
    background-color: rgb(116, 11, 11);
}